# Pandas

Pandas is the goto library for importing, changing, validating, and exporting datasets. It is able to import most file types and convert them to a 'DataFrame', like a DataTable in C#. Once the dataframe is created, pandas offers lots of ways to change and query the data, and supports exporting in multiple formats.

In [1]:
import importlib.util

if importlib.util.find_spec('pandas') is None:
    %pip install pandas

if importlib.util.find_spec('pandas[excel]') is None:
    %pip install "pandas[excel]"
    
import pandas as pd

Requirement already satisfied: pandas[excel] in e:\python\ele-python_demo\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in e:\python\ele-python_demo\.venv\lib\site-packages (from pandas[excel]) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\python\ele-python_demo\.venv\lib\site-packages (from pandas[excel]) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\python\ele-python_demo\.venv\lib\site-packages (from pandas[excel]) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in e:\python\ele-python_demo\.venv\lib\site-packages (from pandas[excel]) (2025.2)
Requirement already satisfied: odfpy>=1.4.1 in e:\python\ele-python_demo\.venv\lib\site-packages (from pandas[excel]) (1.4.1)
Requirement already satisfied: openpyxl>=3.1.0 in e:\python\ele-python_demo\.venv\lib\site-packages (from pandas[excel]) (3.1.5)
Requirement already satisfied: python-calamine>=0.1.7 in e:\python\ele-python_demo\.venv\lib\site-packages (from pandas[excel]) (0.4.0)
Requirement already satisfied: pyxlsb>=1.0.10 in e:\python\ele-python_demo\.venv\lib\site-packages (from pandas[excel]) (1.0.10)
Requirement already satisfied: xlrd>=2.0.1 in e:\python\ele-python_demo\.venv\lib\site-packages (from pandas[excel]) (2.0.2)
Requirement already satisfied: xlsxwriter>=3.0.5 in e:\python\ele-python_demo\.venv\lib\site-packages (from pandas[excel]) (3.2.5)
Requirement already satisfied: defusedxml in e:\python\ele-python_demo\.venv\lib\site-packages (from odfpy>=1.4.1->pandas[excel]) (0.7.1)
Requirement already satisfied: et-xmlfile in e:\python\ele-python_demo\.venv\lib\site-packages (from openpyxl>=3.1.0->pandas[excel]) (2.0.0)
Requirement already satisfied: packaging>=23.1 in e:\python\ele-python_demo\.venv\lib\site-packages (from python-calamine>=0.1.7->pandas[excel]) (25.0)
Requirement already satisfied: six>=1.5 in e:\python\ele-python_demo\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas[excel]) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Create a simple DataFrame with some sample data
# Note the use of different data types in the columns
data = {
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e'],
    'C': [True, False, True, False, True],
    'D': [1.1, 2.2, 3.3, 4.4, 5.5],
    'E': pd.date_range('20230101', periods=5)
}

df = pd.DataFrame(data)
df.index.name = 'Index'  # Set the index name for clarity
df.head()  # Display the first few rows of the DataFrame

       A  B      C    D          E
Index
0      1  a   True  1.1 2023-01-01
1      2  b  False  2.2 2023-01-02
2      3  c   True  3.3 2023-01-03
3      4  d  False  4.4 2023-01-04
4      5  e   True  5.5 2023-01-05

In [3]:
# Pandas allows for easy querying and manipulation of data

# For example, we can filter rows where column 'A' is greater than 2
filtered_df = df[df['A'] > 2]

# Or where column 'C' is True
true_filtered_df = df[df['C']]

# We can also perform operations like adding a new column
df['F'] = df['A'] * df['D']  # New column 'F' as product of 'A' and 'D'

# Or apply functions to columns
df['G'] = df['B'].str.upper()  # New column 'G' with uppercase values of 'B'

# Lastly, we can select specific columns to display
df[['F', 'B', 'G']].head()

# There are many more operations available in pandas, such as groupby, merge, and pivot_table,
# which allow for complex data analysis and manipulation.

          F  B  G
Index
0       1.1  a  A
1       4.4  b  B
2       9.9  c  C
3      17.6  d  D
4      27.5  e  E

In [7]:
# Looping through DataFrame rows can be done using iterrows() or apply(), but it's generally
# more efficient to use vectorized operations or built-in pandas functions for performance reasons.

# For example, using apply to create a new column based on a condition
for index, row in df.iterrows():
    if row['A'] % 2 == 0:  # Check if 'A' is even
        df.at[index, 'H'] = 'Even'
    else:
        df.at[index, 'H'] = 'Odd'

df.head()  # Display the DataFrame with the new column 'H'

       A  B      C    D          E     F  G     H
Index
0      1  a   True  1.1 2023-01-01   1.1  A   Odd
1      2  b  False  2.2 2023-01-02   4.4  B  Even
2      3  c   True  3.3 2023-01-03   9.9  C   Odd
3      4  d  False  4.4 2023-01-04  17.6  D  Even
4      5  e   True  5.5 2023-01-05  27.5  E   Odd

In [8]:
# Data Export

# Create a directory for saving the exported files if it doesn't exist
import os
os.makedirs('example_data', exist_ok=True)

# DataFrames can be easily exported to various formats.
# For example, to CSV:
df.to_csv('example_data/test_dataframe.csv', index=True)

# To Excel:
df.to_excel('example_data/test_dataframe.xlsx', index=True)

# To JSON:
df.to_json('example_data/test_dataframe.json', indent=4, orient='records')

# We can save the DataFrame to a pickle file for quick loading later
# This file format is useful for preserving the DataFrame metadata, like the exact structure and data types.
# It also makes for faster loading compared to CSV or Excel formats.
# Its also called a pickle file, which is hilarious.
df.to_pickle('example_data/test_dataframe.pkl')

In [9]:
# Lastly, pandas makes for easy loading of data back into a DataFrame from these formats.
import shutil

# Loading from CSV
loaded_csv_df = pd.read_csv('example_data/test_dataframe.csv', index_col='Index')
print('CSV\n', loaded_csv_df.head(1))  # Display the first few rows of the loaded CSV DataFrame

# Loading from Excel
loaded_excel_df = pd.read_excel('example_data/test_dataframe.xlsx', index_col='Index')
print('\n\nEXCEL\n', loaded_excel_df.head(1))  # Display the first few rows of the loaded Excel DataFrame

# Loading from JSON
loaded_json_df = pd.read_json('example_data/test_dataframe.json')
print('\n\nJSON\n', loaded_json_df.head(1))  # Display the first few rows of the loaded JSON DataFrame

# Loading from pickle
loaded_pickle_df = pd.read_pickle('example_data/test_dataframe.pkl')
print('\n\nPICKLE\n', loaded_pickle_df.head(1))  # Display the first few rows of the loaded pickle DataFrame

# Delete the example_data directory and its contents
shutil.rmtree('example_data', ignore_errors=True) # This will remove the directory and all files within it, cleaning up after our example.

CSV
        A  B     C    D           E    F  G    H
Index
0      1  a  True  1.1  2023-01-01  1.1  A  Odd


EXCEL
        A  B     C    D          E    F  G    H
Index
0      1  a  True  1.1 2023-01-01  1.1  A  Odd


JSON
    A  B     C    D              E    F  G    H
0  1  a  True  1.1  1672531200000  1.1  A  Odd


PICKLE
        A  B     C    D          E    F  G    H
Index
0      1  a  True  1.1 2023-01-01  1.1  A  Odd